$pageColor:#e8ecf5;
$mainBgColor:#FFFFFF;
$mainFontColor:#493843;
$locationBgColor:#FAC05E;
$widgetAccentColor:#61988E;
$widgetShadowColor:#9FB8AD;

//#FFFFFF #9FB8AD #493843 #FAC05E #61988E
$rootFont:16px;
